html {
  font-size: 62.5%;
}

:root {
  --primary-color: linear-gradient(180deg, #f948b2 0%, #8758f1 100%);
  --secondary-color: linear-gradient(90deg, #ff42a5 0%, #ff42a5 100%);
}
h1,
h2,
h3,
h4,
p {
  margin: 0;
  padding: 0;
}

body {
  font-family: "Work Sans", sans-serif;
  max-width: 1920px;
  margin-inline: auto;
}

.section-width {
  max-width: 1460px;
  padding-inline: 1rem;
  margin-inline: auto;
}
.section-title {
  font-size: 4.8rem;
  font-weight: 700;
}

.section-description {
  color: #534c64;
  font-size: 1.8rem;
  font-weight: 400;
  line-height: 3rem;
}

.btn-primary {
  color: #fff;
  font-size: 20px;
  font-weight: 600;
  padding: 2.1rem 4rem;
  border-radius: 4.8rem;
  background: var(--secondary-color);
  border: none;
}

.btn-secondary {
  color: #fff;
  font-size: 20px;
  font-weight: 600;
  padding: 2.1rem 4rem;
  border-radius: 4.8rem;
  background: #4ec5f7;
  border: none;
}
.gradient {
  background: linear-gradient(180deg, #f948b2 0%, #8758f1 100%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
/* Header section */
/* Nav bar */
.nav-container {
  background: #fff;
  box-shadow: 0px 4px 30px 0px rgba(0, 0, 0, 0.05);
}
nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 64rem;
  padding-top: 3.7rem;
  padding-bottom: 3.7rem;
}

.logo {
  display: flex;
  align-items: center;
  gap: 2rem;
}

.nav-links,
.page-links > ul,
.nav-social-links {
  display: flex;
  align-items: center;
  gap: 3.2rem;
  list-style: none;
  padding: 0;
}

.page-links a {
  text-decoration: none;
  color: #3c354f;
  font-size: 1.8rem;
  font-weight: 500;
}

.nav-social-links {
  gap: 2.4rem;
  border-radius: 8px;
  background: rgba(11, 2, 35, 0.1);
  padding: 1.6rem 2.4rem;
}

.nav-social-links h4 {
  color: #3c354f;
  font-size: 1.8rem;
  font-weight: 500;
}

/* banner section */
.banner {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 37.4rem;
}
.banner-content {
  fill: linear-gradient(
    223deg,
    rgba(140, 87, 238, 0.03) 0%,
    rgba(241, 68, 174, 0.03) 100%
  );
}
.banner-title {
  background: var(--primary-color);
  font-size: 9.5rem;
  font-weight: 800;
  text-transform: uppercase;
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.feature-lists {
  padding: 0;
}
.feature-lists li {
  color: #534c64;
  font-size: 2rem;
  font-weight: 500;
  list-style: none;
  margin-bottom: 1.7rem;
}

.btn-container {
  display: flex;
  gap: 2.4rem;
  margin-top: 2.4rem;
}

.banner-img img {
  width: 100%;
  margin-top: 1.9rem;
}

/* main section */
/* we are gamer section */
.gamer {
  background: linear-gradient(
    90deg,
    rgba(255, 66, 165, 0.03) 0%,
    rgba(255, 66, 165, 0.03) 100%
  );
}
.we-are-gamer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  text-align: right;
  padding-top: 5.5rem;
  padding-bottom: 5.5rem;
}

.we-are-gamer-content {
  max-width: 52rem;
}
.we-are-gamer-img img {
  width: 100%;
}
.gamer-title,
.btn-gamer {
  margin-bottom: 2.4rem;
}
.gamer-des {
  margin-bottom: 3.2rem;
}
.our-purpose {
  font-size: 2.4rem;
}
.unleash {
  font-size: 3.2rem;
  color: #534c64;
}

/* play instant section */
.play-instant {
  display: flex;
  justify-content: space-between;
  align-items: center;
  text-align: right;
  gap: 12rem;
  padding-top: 12rem;
  padding-bottom: 19.5rem;
}
.play-instant-content {
  max-width: 35.3rem;
}
.play-instant-images {
  position: relative;
}
#play-img-second {
  position: absolute;
  bottom: -7.5rem;
  left: -14.3rem;
}

/* more games section */
.games-widescreen {
  display: flex;
  flex-direction: column;
  gap: 3.7rem;
  padding-top: 12rem;
  padding-bottom: 12rem;
}
.row-one,
.row-two {
  display: flex;
  justify-content: space-around;
}

.game {
  display: flex;
  align-items: center;
  gap: 1.6rem;
  cursor: pointer;
  padding: 1rem;
  background-color: transparent;
}
.game:hover {
  border-radius: 50px;
  border: 1px solid #ff42a5;
  padding: 1rem;
}
.game-title:hover {
  color: #ff42a5;
}
.game-title {
  color: #0b0223;
  font-size: 2rem;
  font-weight: 600;
}
.game-mobile {
  display: none;
}

@media screen and (max-width: 576px) {
  nav,
  .nav-links,
  .page-links ul,
  .we-are-gamer,
  .play-instant {
    flex-direction: column;
  }
  nav {
    gap: 6.2rem;
  }
  .nav-links {
    gap: 3.6rem;
  }
  .nav-social-links {
    margin-top: 2.6rem;
  }

  .banner {
    flex-direction: column-reverse;
    padding-top: 4.1rem;
    gap: 0;
  }
  .banner-content {
    padding-top: 13.1rem;
    padding-bottom: 16.1rem;
  }
  .we-are-gamer {
    text-align: center;
    padding-top: 3.6rem;
    padding-bottom: 16.2rem;
  }
  .play-instant {
    text-align: center;
    padding-top: 4.1rem;
    gap: 0;
  }
  .play-instant-images {
    padding-top: 7.4rem;
  }
  .play-instant-images img {
    width: 85%;
  }
  #play-img-second {
    position: absolute;
    bottom: -1.5rem;
    left: -0.3rem;
    width: 35%;
  }
  .games-widescreen {
    display: none;
  }
  .game-mobile {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    padding-bottom: 13.2rem;
  }
  .game-title {
    font-size: 1.5rem;
  }
}

@media screen and (min-width: 576px) and (max-width: 768px) {
  nav,
  .nav-links,
  .page-links ul,
  .we-are-gamer,
  .play-instant {
    flex-direction: column;
  }
  nav {
    gap: 6.2rem;
  }
  .banner {
    flex-direction: column-reverse;
    padding-top: 4.1rem;
    gap: 0;
  }
  .banner-content {
    padding-top: 13.1rem;
    padding-bottom: 16.1rem;
  }
  .play-instant {
    text-align: center;
  }
  .play-instant-images img {
    width: 85%;
  }
  #play-img-second {
    position: absolute;
    bottom: -1.5rem;
    left: -0.3rem;
    width: 35%;
  }
  .games-widescreen {
    display: none;
  }
  .game-mobile {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    text-align: center;
  }
}
